<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-horizontal">


  <div class="form-group" [class.has-error]="!nome.valid &&nome.touched"
    [class.has-feedback]="!nome.valid &&nome.touched">


    <div class="col-sm-12">
      <label class="control-label" for="nome">Nome</label>
    </div>

    <div class="col-sm-12">
      <input type="text" class="form-control" id="nome" placeholder="Nome" name="nome" [(ngModel)]="usuario.nome"
        #nome="ngModel" required>
      <!-- <div>{{nome.className}}</div> -->
      <span *ngIf="!nome.valid &&nome.touched" class="glyphicon glyphicon-remove form-control-feedback"
        aria-hidden="true"></span>
      <span *ngIf="!nome.valid &&nome.touched" id="nome" class="sr-only">(error)</span>
      <div *ngIf="!nome.valid &&nome.touched" class="alert alert-danger" role='alert'>Nome é obrigatório.</div>
    </div>
  </div>

  <div class="form-group" [class.has-error]="!cpf.valid &&cpf.touched" [class.has-feedback]="!cpf.valid &&cpf.touched">
    <div class="col-sm-12">
      <label class="control-label" for="cpf">CPF ou CNPJ</label>
    </div>

    <div class="col-sm-12">
      <input type="text" class="form-control" id="cpf" placeholder="CPF ou CNPJ" name="cpf" [(ngModel)]="usuario.cpf"
        required #cpf="ngModel"
        pattern="([0-9]{2}[\.]?[0-9]{3}[\.]?[0-9]{3}[\/]?[0-9]{4}[-]?[0-9]{2})|([0-9]{3}[\.]?[0-9]{3}[\.]?[0-9]{3}[-]?[0-9]{2})">

      <span *ngIf="!cpf.valid &&cpf.touched" class="glyphicon glyphicon-remove form-control-feedback"
        aria-hidden="true"></span>
      <span *ngIf="!cpf.valid &&cpf.touched" id="cpf" class="sr-only">(error)</span>
      <div *ngIf="!cpf.valid &&cpf.touched && cpf.errors.required" class="alert alert-danger" role='alert'>Nome é
        obrigatório.</div>
      <div *ngIf="!cpf.valid &&cpf.touched && cpf.errors.pattern" class="alert alert-danger" role='alert'>Favor inserir
        CPF ou CNPJ válido.</div>
    </div>
  </div>




  <div class="form-group">
    <div class="col-sm-12">
      <label for="email">Email</label>
    </div>

    <div class="col-sm-12">
      <input type="email" class="form-control" id="email" placeholder="nome@email.com" name="email" #email
        [ngModel]="usuario.email" required email>
      <div>{{email.className}}</div>
      <span *ngIf="!emailControlValid &&emailControlTouched" class="glyphicon glyphicon-remove form-control-feedback"
        aria-hidden="true"></span>
      <span *ngIf="!emailControlValid &&emailControlTouched" class="sr-only">(error)</span>
      <div *ngIf="!emailControlValid &&emailControlTouched && f.controls.email.errors.required"
        class="alert alert-danger" role='alert'>Email obrigatório.</div>
      <div *ngIf="!emailControlValid &&emailControlTouched && f.controls.email.errors.email" class="alert alert-danger"
        role='alert'>Favor inserir E-mail válido.</div>
    </div>
  </div>

  <div class="form-group" [class.has-error]="!cep.valid &&cep.touched" [class.has-feedback]="!cep.valid &&cep.touched">
    <div class="col-md-3">
      <label for="cep" class="control-label">CEP</label>
      <input type="cep" name="cep" ngModel class="form-control" required #cep="ngModel">
      <span *ngIf="!cep.valid &&cep.touched" class="glyphicon glyphicon-remove form-control-feedback"
        aria-hidden="true"></span>
      <span *ngIf="!cep.valid &&cep.touched" id="cep" class="sr-only">(error)</span>
      <div *ngIf="!cep.valid &&cep.touched" class="alert alert-danger" role='alert'>Cep é obrigatório.</div>
    </div>
    <div class="col-md-3">
      <label for="numero" class="control-label">Número</label>
      <input type="numero" name="numero" ngModel class="form-control" required #numero="ngModel">
      <span *ngIf="!numero.valid &&numero.touched" class="glyphicon glyphicon-remove form-control-feedback"
        aria-hidden="true"></span>
      <span *ngIf="!numero.valid &&numero.touched" id="numero" class="sr-only">(error)</span>
      <div *ngIf="!numero.valid &&numero.touched" class="alert alert-danger" role='alert'>Número é obrigatório.</div>
    </div>
    <div class="col-md-6">
      <label for="complemento" class="control-label">Complemento</label>
      <input type="complemento" name="complemento" ngModel class="form-control" #complemento="ngModel">
    </div>
  </div>


  <div class="form-group" [class.has-error]="!rua.valid &&rua.touched" [class.has-feedback]="!rua.valid &&rua.touched">


    <div class="col-sm-12">
      <label class="control-label" for="rua">Rua</label>
    </div>

    <div class="col-sm-12">
      <input type="text" class="form-control" id="rua" name="rua" [(ngModel)]="usuario.rua" #rua="ngModel" required
        readonly>
      <span *ngIf="!rua.valid &&rua.touched" class="glyphicon glyphicon-remove form-control-feedback"
        aria-hidden="true"></span>
      <span *ngIf="!rua.valid &&rua.touched" id="rua" class="sr-only">(error)</span>
      <div *ngIf="!rua.valid &&rua.touched" class="alert alert-danger" role='alert'>Rua é obrigatório.</div>
    </div>
  </div>

  

  <div class="form-group" [class.has-error]="!bairro.valid &&bairro.touched" [class.has-feedback]="!bairro.valid &&bairro.touched">
    <div class="col-md-5">
      <label for="bairro" class="control-label">Bairro</label>
      <input type="bairro" name="bairro" ngModel class="form-control" required #bairro="ngModel" readonly>
      <span *ngIf="!bairro.valid &&bairro.touched" class="glyphicon glyphicon-remove form-control-feedback"
        aria-hidden="true"></span>
      <span *ngIf="!bairro.valid &&bairro.touched" id="bairro" class="sr-only">(error)</span>
      <div *ngIf="!bairro.valid &&bairro.touched" class="alert alert-danger" role='alert'>Bairro é obrigatório.</div>
    </div>
    <div class="col-md-4">
      <label for="cidade" class="control-label">Cidade</label>
      <input type="cidade" name="cidade" ngModel class="form-control" required #cidade="ngModel" readonly>
      <span *ngIf="!cidade.valid &&cidade.touched" class="glyphicon glyphicon-remove form-control-feedback"
        aria-hidden="true"></span>
      <span *ngIf="!cidade.valid &&cidade.touched" id="cidade" class="sr-only">(error)</span>
      <div *ngIf="!cidade.valid &&cidade.touched" class="alert alert-danger" role='alert'>Cidade é obrigatório.</div>
    </div>
    <div class="col-md-3">
      <label for="estado" class="control-label">Estado</label>
      <input type="estado" name="estado" ngModel class="form-control" required #estado="ngModel" readonly>
      <span *ngIf="!estado.valid &&estado.touched" class="glyphicon glyphicon-remove form-control-feedback"
        aria-hidden="true"></span>
      <span *ngIf="!estado.valid &&estado.touched" id="estado" class="sr-only">(error)</span>
      <div *ngIf="!estado.valid &&estado.touched" class="alert alert-danger" role='alert'>Estado é obrigatório.</div>
    </div>
  </div>

  <div class="col-sm-12"><br>
    <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
    <app-form-debug [form]="f"></app-form-debug>
  </div>
</form>