<form class="form-horizontal" [formGroup]="formulario" (ngSubmit)='onSubmit()' autocomplete="off">


  <div class="form-group" [ngClass]="aplicaCssErro('_nome')">


    <div class="col-sm-12">
      <label class="control-label" for="_nome">Nome</label>
    </div>

    <div class="col-sm-12">
      <input type="text" class="form-control" id="_nome" 
      autocomplete="off"
      placeholder="Nome" formControlName="_nome" >
      <app-campo-control-erro [mostrarErro]="verificaRequired('_nome')" 
      msgErro="Nome obrigatório"></app-campo-control-erro>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-6">
      <label class="control-label" for="_email">Email</label>
      <input type="email" class="form-control" id="_email" 
      autocomplete="off"
      placeholder="nome@email.com" formControlName="_email">
      <app-campo-control-erro [mostrarErro]="verificaRequired('_email')" 
      msgErro="E-mail obrigatório"></app-campo-control-erro>
      <app-campo-control-erro [mostrarErro]="verificaEmailValido()" 
      msgErro="E-mail inválido"></app-campo-control-erro>
    </div>

    <div class="col-sm-6">
      <label class="control-label" for="_cpf">CPF</label>
      <input type="text" class="form-control" id="_cpf" 
      autocomplete="off"
      placeholder="000.000.000-00" formControlName="_cpf">
      <app-campo-control-erro [mostrarErro]="verificaRequired('_cpf')" 
      msgErro="CPF obrigatório"></app-campo-control-erro>
      <app-campo-control-erro [mostrarErro]="verificaCpfValido()" 
      msgErro="CPF inválido"></app-campo-control-erro>
    </div>
  </div>


  <!-- <div ngModelGroup="endereco">   -->
    <div formGroupName="endereco">

    <div class="form-group" [ngClass]="aplicaCssErro('endereco.cep')">
      <div class="col-md-3">
        <label for="cep" class="control-label">CEP</label>
        <input type="cep"  formControlName="cep" class="form-control" 
        (blur)="consultaCEP()"
        autocomplete="nocomplete">
        <app-campo-control-erro [mostrarErro]="verificaRequired('endereco.cep')" 
        msgErro="CEP obrigatório"></app-campo-control-erro>
        <app-campo-control-erro [mostrarErro]="verificaCepValido()" 
        msgErro="CEP inválido"></app-campo-control-erro>
      </div>
      <div class="col-md-3">
        <label for="numero" class="control-label">Número</label>
        <input type="numero" formControlName="numero" class="form-control" 
        autocomplete="nocomplete">
        <app-campo-control-erro [mostrarErro]="verificaRequired('endereco.numero')" 
        msgErro="Número obrigatório"></app-campo-control-erro>
      </div>
      <div class="col-md-6">
        <label for="complemento" class="control-label">Complemento</label>
        <input type="complemento" formControlName="complemento" class="form-control">
      </div>
    </div>


    <div class="form-group" [ngClass]="aplicaCssErro('endereco.rua')">


      <div class="col-sm-12">
        <label class="control-label" for="rua">Rua</label>
      </div>

      <div class="col-sm-12">
        <input type="text" class="form-control" id="rua" formControlName="rua" 
        autocomplete="nocomplete">
        <app-campo-control-erro [mostrarErro]="verificaRequired('endereco.rua')" 
        msgErro="Rua é obrigatório."></app-campo-control-erro>
      </div>
    </div>



    <div class="form-group" [ngClass]="aplicaCssErro('endereco.bairro')">
      <div class="col-md-5">
        <label for="bairro" class="control-label">Bairro</label>
        <input formControlName="bairro" class="form-control" 
        autocomplete="nocomplete">
        <app-campo-control-erro [mostrarErro]="verificaRequired('endereco.bairro')" 
        msgErro="Bairro é obrigatório."></app-campo-control-erro>
      </div>
      <div class="col-md-4">
        <label for="cidade" class="control-label">Cidade</label>
        <input formControlName="cidade" class="form-control" 
        autocomplete="nocomplete">
        <app-campo-control-erro [mostrarErro]="verificaRequired('endereco.cidade')" 
        msgErro="Cidade é obrigatório."></app-campo-control-erro>
      </div>
      <div class="col-md-3">
        <label for="estado" class="control-label">Estado</label>
        <select formControlName="estado" class="form-control" 
        autocomplete="nocomplete">
        <option *ngFor="let estado of estados | async" [value]="estado.sigla" >{{estado.nome}}</option>
      
      </select>
        <app-campo-control-erro [mostrarErro]="verificaRequired('endereco.estado')" 
        msgErro="Estado é obrigatório."></app-campo-control-erro>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-3" ngClass="aplicaCssErro('cargo')">
      <label for="cargo" class="control-label">Cargo</label>
      <select formControlName="cargo" class="form-control" 
      autocomplete="nocomplete" [compareWith]="compararCargos">
      <option *ngFor="let cargo of cargos" [ngValue]="cargo" >{{cargo.desc}}</option>    
    </select>
    </div>
    <div class="col-md-3" ngClass="aplicaCssErro('tecnologias')">
      <label for="tecnologias" class="control-label">Tecnologias</label>
      <select multiple formControlName="tecnologias" class="form-control" 
      autocomplete="nocomplete">
      <option *ngFor="let tecnologia of tecnologias" [value]="tecnologia.nome" >{{tecnologia.desc}}</option>    
    </select>
    </div>
    <div class="col-md-3" ngClass="aplicaCssErro('newsletter')">
      <label for="newsletter" class="control-label">Newsletter</label>
      <div id="newsletter" class="row">
        <div class="col-sm-4" *ngFor="let item of newsletterOp">
          <label class="radio-inline">
            <input type='radio' [value]='item.valor' formControlName="newsletter" />{{item.desc}}
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12"><br>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-default" (click)="resetar()">Cancelar</button>
    <button type="button" class="btn btn-info" (click)="setarCargo()">Cargo</button>
    <button type="button" class="btn btn-info" (click)="setarTecnologias()">Tecnologias</button>
    <app-form-debug [form]="formulario"></app-form-debug>
  </div>
</form> 