<form class="form-horizontal" [formGroup]="formulario" (ngSubmit)='onSubmit()' autocomplete="off">


  <div class="form-group" [ngClass]="aplicaCssErro('_nome')">


    <div class="col-sm-12">
      <label class="control-label" for="_nome">Nome</label>
    </div>

    <div class="col-sm-12">
      <input type="text" class="form-control" id="_nome" 
      autocomplete="off"
      placeholder="Nome" formControlName="_nome" >
      <app-campo-control-erro [mostrarErro]="verificaRequired('_nome')" 
      msgErro="Nome obrigatório"></app-campo-control-erro>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-6">
      <label class="control-label" for="_email">Email</label>
      <input type="email" class="form-control" id="_email" 
      autocomplete="off"
      placeholder="nome@email.com" formControlName="_email">
      <app-campo-control-erro [mostrarErro]="verificaRequired('_email')" 
      msgErro="E-mail obrigatório"></app-campo-control-erro>
      <app-campo-control-erro [mostrarErro]="verificaEmailValido()" 
      msgErro="E-mail inválido"></app-campo-control-erro>
    </div>

    <div class="col-sm-6">
      <label class="control-label" for="_cpf">CPF</label>
      <input type="text" class="form-control" id="_cpf" 
      autocomplete="off"
      placeholder="000.000.000-00" formControlName="_cpf">
      <app-campo-control-erro [mostrarErro]="verificaRequired('_email')" 
      msgErro="CPF obrigatório"></app-campo-control-erro>
      <app-campo-control-erro [mostrarErro]="verificaCpfValido()" 
      msgErro="CPF inválido"></app-campo-control-erro>
    </div>
  </div>

  <div class="col-sm-12"><br>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn" (click)="resetar()">Cancelar</button>
    <app-form-debug [form]="formulario"></app-form-debug>
  </div>
</form> 